@import '../../assets/style/variables';

.datepicker {
  color: $dark-gey;
  position: relative;

  &__input {
    width: 107% !important;
  }
  &__input::placeholder {
    font-weight: $light;
    font-size: 0.9rem;
  }

  &__calendar {
    width: fit-content;
    margin-bottom: 20px;
    padding: 12px;
    border: solid 1px $background;
    background-color: rgba(231, 237, 188, 1.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;

    &--weekday {
      font-weight: bold;
      padding: 5px;
    }

    &--day {
      cursor: pointer;
      padding: 5px;

      &:hover {
        background-color: $background;
        color: $darkest;
        border-radius: 20px;
      }
    }
  }

  &__controls {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;

    select {
      color: $dark-gey;
      border-radius: 5px;
      border: none;
      background-color: $background;
    }

    select[size]:focus {
      padding-right: 15px;
      overflow-y: hidden;
    }
  }
}
